<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="h-title">
      <h4>Sign up</h4>
      <span class="h-underline"></span>
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field form-group greybox">
        <%= f.label :email, class: 'sr-only' %>
        <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
      </div>

      <div class="field form-group greybox">
        <%= f.label :password, class: 'sr-only' %>
        <% if @minimum_password_length %>
        <em class="sml-text">(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, placeholder: "Password", autocomplete: "off" %>
      </div>

      <div class="field form-group greybox">
        <%= f.label :password_confirmation, class: 'sr-only' %>
        <%= f.password_field :password_confirmation, placeholder: "Password confirmation",  autocomplete: "off" %>
      </div>

      <div class="form-group actions form-btn reset sml-text">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>
    <div class="devise-links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
