
<h1>Booking Requests</h1>
<%= form_for [@request] do |f| %>
  <p><%= f.label :name %></p>
  <p><%= f.text_field :customer_name %></p>
  <p><%= f.label :email %></p>
  <p><%= f.text_field :customer_email %></p>
  <p><%= f.label "Phone Number" %></p>
  <p><%= f.text_field :customer_phone %></p>
  <p><%= f.label "Start Date" %></p>
  <p><%= f.date_select :start_date, order: [:day, :month, :year] %></p>
  <p><%= f.label "End Date" %></p>
  <p><%= f.date_select :end_date, order: [:day, :month, :year] %></p>
  <p><%= f.label :comments %></p>
  <p><%= f.text_field :comments %></p>
  <p><%= f.submit %></p>
<% end %>

<%= button_to "Cancel Request", site_path(@site), :method => "get" %> 
