<nav class="navbar custom-navbar">
  <div class="container-fluid">
      <a class="navbar-brand" href="/">
          <img alt="Beyond camping" src="<%= image_url "Logo-darkgrey-sml.png" %>" class="bc-logo">
        </a>
      <ul class="navbar-right custom-nav-link">
        <li><%= button_to "Return", vendors_path %></li>
      </ul>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="h-title">
      <h4>Vendors</h4>
      <span class="h-underline"></span>
    </div>

  <% if vendor_signed_in? %>

    <span class="reset vendor_function"><%= link_to "List a new site", new_site_path %></span>
    <span class="reset vendor_function"><%= link_to "Booking Requests", requests_path %></span>
    <% @sites.each do |site| %>
      <% if site.vendor_id == current_vendor.id %>
        <div class="vendor_sites">
          <%= site.name %>
          <p><%= link_to "Edit", edit_site_path(site) %>
          <%= link_to "Delete", site_path(site), method: :delete %>
          <%= link_to "Preview", vendor_path(site) %></p>
          </div>
      <% end %>
    <% end %>
    <p>
      <%= link_to "Log Out", destroy_vendor_session_path, method: :delete %>
    </p>
  <% else %>
    <%= link_to "Sign Up", new_vendor_registration_path %>
    <%= link_to "Log In", new_vendor_session_path %>
  <% end %>

  <%= link_to "Return to list", '/' %>
</div>
</div>
