<nav class="navbar custom-navbar">
  <div class="container-fluid">
      <a class="navbar-brand" href="/">
          <img alt="Beyond camping" src="<%= image_url "Logo-darkgrey-sml.png" %>" class="bc-logo">
        </a>
      <ul class="navbar-right custom-nav-link">
        <li>
            <% if vendor_signed_in? %>
            <div class="devise-links devise-btn">
                <%= link_to "Log Out", destroy_vendor_session_path, method: :delete %>
            </div>
            <% else %>
            <div class="devise-links devise-btn">
              <%= link_to "Sign Up", new_vendor_registration_path %>
              <%= link_to "Log In", new_vendor_session_path %>
            </div>
            <% end %>
        </li>
      </ul>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="h-title">
      <h4>Vendors</h4>
      <span class="h-underline"></span>
    </div>

  <% if vendor_signed_in? %>

    <div class="reset vendor_function"><%= link_to "List a new site", new_site_path %></div>
    <div class="reset vendor_function"><%= link_to "Booking Requests", requests_path %></div>
    <div>
    <% @sites.each do |site| %>
      <% if site.vendor_id == current_vendor.id %>
        <div class="vendor_sites">
          <%= site.name %>
          <p><%= link_to "Edit", edit_site_path(site) %>&nbsp;/&nbsp;
          <%= link_to "Delete", site_path(site), method: :delete %>&nbsp;/&nbsp;
          <%= link_to "Preview", vendor_path(site) %></p>
          </div>
      <% end %>
    <% end %>
  </div>
  <!-- <div class="devise-links b">
      <%= link_to "Log Out", destroy_vendor_session_path, method: :delete %>
  </div> -->
  <% end %>
  <div class="span12" >
    <div class="devise-links devise-btn">
      <%= link_to "&#8592; Return to list".html_safe, '/' %>
    </div>
  </div>
</div>
</div>
