<% if vendor_signed_in? %>
  <%= link_to "Log Out", destroy_vendor_session_path, method: :delete %>
  <%= link_to "List a new site", new_site_path %>

  <% @sites.each do |site| %>
    <% if site.vendor_id == current_vendor.id %>
        <%= site.name %>

        <%= site.description %>
        <%= site.summary %>

        <%= site.street %>
        <%= site.town %>
        <%= site.county %>
        <%= site.postcode %>

        £<%= site.price %>
        <%= site.occupancy %> people per <%= site.accommodation_type %>

        <%= site.available_from %> to <%= site.available_to %>


        <% if site.shared_toilets == true %>
          <span class="has-facility">
            Shared toilets
          </span>
        <% else %>
          <span class="no-facility">
            Shared toilets
          </span>
        <% end %>

        <% if site.private_shower == true %>
          <span class="has-facility">
            Private showers
          </span>
        <% else %>
          <span class="no-facility">
            Private showers
          </span>
        <% end %>

        <% if site.electricity == true %>
          <span class="has-facility">
            Charging facilities
          </span>
        <% else %>
          <span class="no-facility">
            Charging facilities
          </span>
        <% end %>


        <%= image_tag site.image.url(:thumb) %>
        <%= image_tag site.image_2.url(:thumb) %>
        <%= link_to "Edit Site", edit_site_path(site) %>
        <%= link_to "Delete Site", site_path(site), method: :delete %>
        <p> No current requests </p>
    <% end %>
  <% end %>
<% else %>
  <%= link_to "Sign Up", new_vendor_registration_path %>
  <%= link_to "Log In", new_vendor_session_path %>
<% end %>
<br>
<%= link_to "Return to list", '/' %>
