<% if vendor_signed_in? %>
  <%= link_to "Log Out", destroy_vendor_session_path, method: :delete %>
  <%= link_to "List a new site", new_site_path %>

  <% @sites.each do |site| %>
    <% if site.vendor_id == current_vendor.id %>
        <%= site.name %>
        <%= site.description %>
        <%= site.summary %>
        <%= site.street %>
        <%= site.town %>
        <%= site.county %>
        <%= site.postcode %>
        £<%= site.price %>
        <%= site.occupancy %> people per <%= site.accommodation_type %>
        <%= site.available_from %> to <%= site.available_to %>

        <%= image_tag site.image.url(:thumb) %>
        <%= image_tag site.image_2.url(:thumb) %>
        <%= image_tag site.image_3.url(:thumb) %>
        <%= image_tag site.image_4.url(:thumb) %>
        <%= image_tag site.image_5.url(:thumb) %>
        <%= image_tag site.image_6.url(:thumb) %>

        <% if site.shared_toilets == true %>
          <span class="has-facility">
            Shared toilets
          </span>
        <% else %>
          <span class="no-facility">
            Shared toilets
          </span>
        <% end %>

        <% if site.private_toilets == true %>
          <span class="has-facility">
            Private toilets
          </span>
        <% else %>
          <span class="no-facility">
            Private toilets
          </span>
        <% end %>

        <% if site.shared_shower == true %>
          <span class="has-facility">
            Shared showers
          </span>
        <% else %>
          <span class="no-facility">
            Shared showers
          </span>
        <% end %>

        <% if site.private_shower == true %>
          <span class="has-facility">
            Private showers
          </span>
        <% else %>
          <span class="no-facility">
            Private showers
          </span>
        <% end %>

        <% if site.restaurant == true %>
          <span class="has-facility">
            On-site restaurant
          </span>
        <% else %>
          <span class="no-facility">
            On-site restaurant
          </span>
        <% end %>

        <% if site.shop == true %>
          <span class="has-facility">
            On-site shop
          </span>
        <% else %>
          <span class="no-facility">
            On-site shop
          </span>
        <% end %>

        <% if site.kitchen == true %>
          <span class="has-facility">
            Kitchen area
          </span>
        <% else %>
          <span class="no-facility">
            Kitchen area
          </span>
        <% end %>

        <% if site.electricity == true %>
          <span class="has-facility">
            Charging facilities
          </span>
        <% else %>
          <span class="no-facility">
            Charging facilities
          </span>
        <% end %>

        <!-- TODO list all amenties/facilities as per the above - serious spaghetti code to come - must be a better way to do this? -->

        <%= link_to "Edit Site", edit_site_path(site) %>
        <%= link_to "Delete Site", site_path(site), method: :delete %>
          <h4> Requests for <%= site.name %></h4>
            <% if site.requests.any? %>
              <ul>
                <% site.requests.each do |request| %>
                  <br>
                  <p><strong>Customers name: <%= request.customer_name %></strong></p>
                  <p>Email: <%= request.customer_email %><p>
                  </p>Phone number: <%= request.customer_phone %></p>
                  <p>Dates: <%= request.start_date %> till <%= request.end_date %> </p>
                  <p>Comments: <%= request.comments %></p>
              <% end %>
            </ul>
          <% else %>
            <p> No Requests made. </p>
          <% end %>
    <% end %>
  <% end %>
<% else %>
  <%= link_to "Sign Up", new_vendor_registration_path %>
  <%= link_to "Log In", new_vendor_session_path %>
<% end %>
<br>
<%= link_to "Return to list", '/' %>
