<nav class="navbar custom-navbar">
  <div class="container-fluid">
      <a class="navbar-brand" href="/">
          <img alt="Beyond camping" src="<%= image_url "Logo-darkgrey-sml.png" %>" class="bc-logo">
        </a>
      <ul class="navbar-right custom-nav-link">
        <li><%= link_to "List a site", '/vendors', class: "custom-nav-link" %></li>
      </ul>
  </div>
</nav>
<div class="container">

  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <%= form_for(sites_path, :method => "get", class: "navbar-form custom-form", id: "search-form") do %>
        <div class="input-append form-group searchbox field">
          <%= text_field_tag :search, params[:search], class: "span2 field", placeholder: "Search by Town, County or Postcode" %>
          <button id='search-button' class="search-btn" type='submit'>Search</button>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
        <button id='show-filters' class="refine-search">Filters/Refine Search &#8594;</button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <div id='all-filters' class="filters" style="display: none">
          <p>filter by setting<p>
          <div class="form-group">
            <%= check_box_tag :forest, true, false, class: "checkbox-inline" %>
            <%= label_tag(:forest, 'Forest') %>
          </div>
          <div class="form-group">
            <%= check_box_tag :mountain, true, false, class: "checkbox-inline" %>
            <%= label_tag(:mountain, 'Mountain') %>
          </div>
          <div class="form-group">
            <%= check_box_tag :lake, true, false, class: "checkbox-inline" %>
            <%= label_tag(:lake, 'Lake') %>
          </div>

          <div class="form-group">
            <%= check_box_tag :scenic, true, false, class: "checkbox-inline" %>
            <%= label_tag(:scenic, 'Scenic') %>
          </div>

          <div class="form-group">
            <%= check_box_tag :peaceful, true, false, class: "checkbox-inline" %>
            <%= label_tag(:peaceful, 'Peaceful') %>
          </div>

          <div class="form-group">
            <%= check_box_tag :remote_location, true, false, class: "checkbox-inline" %>
            <%= label_tag(:remote_location, 'Remote Location') %>
          </div>

          <div class="form-group">
            <%= check_box_tag :wildlife_haven, true, false, class: "checkbox-inline" %>
            <%= label_tag(:wildlife_haven, 'Wildlife Haven') %>
          </div>

          <div class="form-group">
            <%= check_box_tag :good_for_hiking, true, false, class: "checkbox-inline" %>
            <%= label_tag(:good_for_hiking, 'Good For Hiking') %>
          </div>

          <div class="form-group">
            <p>filter by max price<span class="light">(per night)</span></p>
            <%= text_field_tag :price, params[:price], class: 'price-slider', type: 'range', min: '10', max: '200', step: '10', value: '200', onchange: "updateTextInput(this.value);"%>
            <div>
              £<span id="textInput"><%= @price ? @price : 200 %></span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>

  <div class="row">
  <% if @sites.any? %>
    <% @sites.each do |site| %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="site-container-hp">
        <a href="<%= site_path(site) %>" ><%= image_tag site.image.url(:medium), class: "site-image" %>
        <span class="text-content">
          <h1 class="overlay-content1"><%= site.name %></h1>
          <hr class="short"/>
          <h2 class="overlay-content2"><%= site.summary %></h2>
          <hr class="short"/>
          <h3 class="overlay-content3">£<%= site.price %> per night</h3>
        </span>
        </a>
      </div>
        <span class="site-name"> <%= link_to site.name, site_path(site) %> </span>
        <span class="site-town"> <%= site.town %> / <%= site.county %></span>
    </div>
    <% end %>
  <% end %>
  </div>
</div>
