<% if @site.errors.any? %>
  <section id='errors'>
    <ul>
      <% @site.errors.full_messages.each do |message|%>
        <li><%= message %></li>
      <% end %>
    </ul>
  </section>
<% end %>


<%= form_for Site.new, html: { multipart: true } do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :town %>
  <%= f.text_field :town %>
  <%= f.label :postcode %>
  <%= f.text_field :postcode %>
  <%= f.label :price %>
  <%= f.text_field :price %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.label :image %>
  <%= f.file_field :image %>
  <%= f.label :image_2 %>
  <%= f.file_field :image_2 %>
  <%= f.submit %>
<% end %>