<h1><%= @site.name %></h1>
<p>Price:  £<%= @site.price %></p>
<p>Address:  <%= @site.address %></p>
<p>Description:  <%= @site.description %></p>
<%= image_tag @site.image.url(:large) %>





<button>Book</button>
