<h1><%= @site.name %></h1>
<p>Price:  £<%= @site.price %></p>
<p>Address:  <%= @site.address %></p>
<p>Description:  <%= @site.description %></p>





<%= button_to "Book", new_request_path, :method => "get" %>
